<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body>

    <!-- mostrar texto con {{}} -->
     <div>
        <input type="text" ng-model="nombre" placeholder="escribe tu nombre">
        <p>Hola {{nombre}}</p>
     </div>
     <hr>
     <!-- suma de dos numeros -->
      <div>
        <input type="number" ng-model="a"> +
        <input type="number" ng-model="b"> =
        {{a + b}} 
      </div>
      <hr>
      <!-- uso de ng-repeat -->
      <div ng-init="frutas['manzana', 'platano','pera']">
        <ul>
            <li ng-repeat="fruta in frutas">{{frutas}}</li>
        </ul>
      </div>
      <hr>
      <!-- mostrar u ocultar contenido -->
       <div>
        <input type="checkbox" ng-model="mostrar">Mostrar texto
        <p ng-show="mostrar">Hola como estas</p>
       </div>
       <hr>
       <!-- controlador basico -->
        <div ng-controller="miCtrl">
            <p>Nombre desde el controlador: {{nombre}}</p>
        </div>
        <hr>
        <!-- lista dinamica -->
         <div ng-controller="listaCrtl">
            <ul>
                <li ng-repeat="tarea in tareas">{{tarea}}</li>
            </ul>
            <input type="text" ng-model="nuevaTarea" placeholder="Nueva Tarea">
            <button ng-click="agregar()">Agregar</button>
         </div>
         <hr>
         <!-- Filtrar resultados -->
          <div ng-init="personas=[
          {nombre:'Ana'}, {nombre:'Luis'}, {nombre:'Pedro'}, {nombre:'Ivo'}
          ]">
            <input type="text" ng-model="busqueda" placeholder="Buscar persona">
            <ul>
                <li ng-repeat="p in personas | filter:busqueda">{{p.nombre}}</li>
            </ul>
        </div>
        
    <script src="JVS1.js"></script>
</body>
</html>